body{
    height: 100%;
    background-color: #afbccb;
    
}
section{
    padding-top: 50px;
    padding-bottom: 100px;
    font-weight: 500;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 15px;
    
}
.container{
    margin-left: 10px;
}


#answ{
    margin-bottom: 20px;
    max-width: 1240px;
    text-align: right;
    background-color:#4e4e4e ;
    min-height: 90px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 30px;
    color: white;
    border-radius: 5px;

}


button{
    margin-right: 5px;
    margin-bottom: 3px;
    width: 100px;
    background-color: #78aaf2;
    border-color: #97b6db;
    font-weight: 700;
    font-size: 25px;
    
}

#borrar{
    background-color: #ff726a;
}
#borrar:hover{
    background-color:#ff8b81 ;

}

#hst{
    background-color: #f0ebd7;
    padding: 10px;
    border-radius: 10px;
    color: #4e4e4e;
    font-size: 15px;
    font-weight: 300px;
    min-height: 150px;
    min-width: 200px;
    margin: 10px;
    text-align: start;
}





