body{
    height: 100%;
    text-align: center;
    background-color: #afbccb;
}
section{
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    font-weight: 500;
    font-size: 30px;
}



#answ{
    margin-bottom: 0px;
    text-align: right;
    background-color:#4e4e4e ;
    max-width: 1110px;
    min-height: 90px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 30px;
    color: white;
    border-radius: 5px;
}


button{
    margin-right: 5px;
    margin-bottom: 3px;
    width: 100px;
    background-color: #78aaf2;
    border-color: #97b6db;
    font-weight: 700;
    font-size: 25px;
    
}

#borrar{
    background-color: #ff726a;
}
#borrar:hover{
    background-color:#ff8b81 ;

}



